body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 110%;
    font-size: 30px;
   
}
header img{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: -800px;
    top: 27px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: -25px;
   
}

.sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
}

.dropdown-btn {
    background-color: #333;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn span {
    float: right;
    transition: transform 0.3s ease;
}

.dropdown-btn span.rotate {
    transform: rotate(180deg);
}

.dropdown-container {
    display: none;
    background-color: #444;
    padding-left: 8px;
}

.dropdown-container ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-container ul li {
    margin: 15px 0;
}

.dropdown-container ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown-container ul li a:hover {
    background-color: #575757;
}

.dropdown-container.show {
    display: block;
}

.main-content {
    width: 80%;
    padding: 20px;
    margin-left: 330px;
    position: absolute;
    text-align: center;
}

.main-content h2 {
    margin-top: 0;
    color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

.btn-secondary {
    background-color: #333;
    color: white;
}

.btn-secondary:hover {
    background-color: #575757;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
